*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(145deg, #9ca7f2, #838ccb);
}

div{
    height: 80%;
    max-width: 60%;
    border-radius: 4px;
    background: linear-gradient(145deg, #9ca7f2, #838ccb);
    box-shadow:  50px 50px 100px #8c96d9,-50px -50px 100px #98a2eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    padding: 0px 50px;
}

h1{
    font-size: 58px;
    letter-spacing: 5px;
    color: #fff;
    text-shadow: 3px 3px 5px #0000002a;
}

input{
    height: 50px;
    width: 80px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

input:focus{
   outline: none;
}

.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
}

.btn:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 cursor: pointer;
}

.btn:active {
 transform: translateY(-1px);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 transition: all .4s;
}

.btn::after {
 background-color: #fff;
}

.btn:hover::after {
 transform: scaleX(1.4) scaleY(1.6);
 opacity: 0;
}

p{
    font-size: 24px;
    color: #863333fd;
}